[Desktop Entry]
Name=Opengram
Comment=New era of messaging
TryExec=Opengram
Exec=Opengram -- %U
Icon=org.opengram.desktop
Terminal=false
StartupWMClass=OpengramDesktop
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/opengram;x-scheme-handler/tonsite;
Keywords=opengram;chat;im;messaging;messenger;sms;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=Opengram -quit
Name=Quit Opengram
Icon=application-exit
